<!-- views/products.ejs -->
<!-- views/products.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <div class="admin-panel">
        <h2>Product List</h2>
        <% products.forEach(product => { %>
            <div class="card">
                <p>Product Name: <%= product.productName %></p>
                <p>Product Price: <%= product.productPrice %></p>
            </div>
        <% }); %>
    </div>
</body>

</html>


</html>
